@charset "utf-8";
/* CSS Document */
.boletos_bus30_ida{
	margin:0 auto 0 auto; 
	width:580px; 
}
.boletos_bus30_ida .bus30_ida{
	background-image:url(../images/30_bg_ida.png);
	background-repeat:no-repeat;
	width:580px;
	height:190px;
	padding-top:10px;
	padding-left:10px;
	float:left;
}
.boletos_bus30_ida .estados{
	padding-top:20px;
	float:left;
}
.boletos_bus30_ida .fila1{
	margin-top:15px;
	margin-left:110px;
}
.boletos_bus30_ida .fila2{
	margin-left:115px;
}
.boletos_bus30_ida .td{
	text-align:right;
	
}
.boletos_bus30_ida .td span{
	padding-right:5px;
}
.boletos_bus30_ida .libre, .boletos_bus30_ida .ocupado, .boletos_bus30_ida .reservado, .boletos_bus30_ida .compra, .boletos_bus30_ida .piloto, .boletos_bus30_ida .apartada, .boletos_bus30_ida .noLocal{
	background-color:transparent;
	width:45px;
	height:31px;
	border:none;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#000;
	font-size:0.75em;
	text-shadow:1px 1px #EEE;
	text-align:right;
	margin-left:5px;
	/*border:1px solid #000;*/
}
.boletos_bus30_ida .apartada{
	cursor:pointer;
	background-image:url(../images/butaca-apartada.png);
	background-repeat:no-repeat;
}
.boletos_bus30_ida .noLocal{
	cursor:default;
	background-image:url(../images/butaca-noLocal.png);
	background-repeat:no-repeat;
}
.boletos_bus30_ida .libre{
	cursor:pointer;
	background-image:url(../images/butaca-libre.png);
	background-repeat:no-repeat;
}
.boletos_bus30_ida .piloto{
	cursor:default;
	background-image:url(../images/butaca-piloto.png);
	background-repeat:no-repeat;
}
.boletos_bus30_ida .ocupado{
	cursor:default;
	background-image:url(../images/butaca-ocupada.png);
	background-repeat:no-repeat;
}
.boletos_bus30_ida .reservado{
	cursor:default;
	background-image:url(../images/butaca-reservada.png);
	background-repeat:no-repeat;
}
.boletos_bus30_ida .compra{
	cursor:pointer;
	background-image:url(../images/butaca-compra.png);
	background-repeat:no-repeat;
}
.boletos_bus30_ida .pasillo{
	width:35px;
	height:20px;
}
